body {
background: rgb(63,251,233);
background: radial-gradient(circle, rgba(63,251,233,1) 0%, rgba(63,142,251,1) 100%);
}

.headers {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4%;
}

button {
  font-size:large;
  color: blue;
  border: 2px solid black;
}